body {
	font-family: 'Open Sans';
	font-weight: 300;
	background: #38434C;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
	padding: 156px 0 100px;
  }
}

.bg-primary .navbar-nav .active > .nav-link {
	color: #fff !important;
}

#navbarResponsive {
	flex-grow: 0;
}

.socialContainer {
	display: flex;
	margin-right: 20px;
	flex-grow: 1;
	text-align: right;
	flex-direction: row-reverse;
	font-size: 20px;
}

.socialContainer a {
	float: right;
	display: block;
	margin-left: 20px;
	cursor: pointer;
	color: rgba(255,255,255,0.5);
}

.socialContainer a:hover {
	color: #fff;
	color: rgba(255,255,255,0.75);
}

#introText {
	position: absolute;
	top: 66px;
	right: 10px;
	height: auto;
	max-height: calc(100% - 96px);
	width: 70%;
	z-index: 1025;
	overflow: auto;
	background: rgba(35, 42, 44, .8);
	color: #fff;
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
	padding: 20px;
}

@media (min-width: 1200px) and (max-width: 2000px) {
	#introText {
		width: 40%;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	#introText {
		width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	#introText {
		width: 70%;
	}
}

@media (max-width: 768px) {
	#introText {
		width: calc(100% - 20px);
	}
}

#introText a, #introText a:hover, #introText a:focus {
	text-decoration: underline;
	color: #fff;
}

#introCloseButton {
	position: absolute;
	top: 85px;
	right: 30px;
	font-size: 24px;
	line-height: 24px;
	z-index: 1026;
	color: #fff;
	cursor: pointer;
}

section {
  padding: 150px 0;
  color: #ffffff;
  color: rgba(255,255,255,0.75);
}

section a {
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
}

section a:hover,
section a:focus {
	color: rgba(255,255,255,0.75);
}

section h1, 
section h2, 
section h3, 
section h4, 
section h5, 
section h6 {
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 200;
}

section hr {
	border-top: 1px solid rgba(255,255,255,0.1);
}