body {
	font-family: 'Open Sans';
	font-weight: 300;
	background: #38434C;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
	padding: 156px 0 100px;
  }
}

.bg-primary .navbar-nav .active > .nav-link {
	color: #fff !important;
}

section {
  padding: 150px 0;
  color: #ffffff;
  color: rgba(255,255,255,0.75);
}

section a {
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
}

section a:hover,
section a:focus {
	color: rgba(255,255,255,0.75);
}

section h1, 
section h2, 
section h3, 
section h4, 
section h5, 
section h6 {
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 200;
}

section hr {
	border-top: 1px solid rgba(255,255,255,0.1);
}