# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Linux
.directory

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.idea/

# Video files
*.m4v
*.mp4
*.webm
*.mov
*.mpg

# current git version file
# use with git log --pretty=format:'%h' -n 1 > gitversion
gitversion

# film data is written by get-gsheet-json.php
film-data.json

# secret for filmdata
inc.filmdata.php